<!DOCTYPE html>
<html>
    <head>
        <title>Sparkle</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/mainpage">All Posts</a></li>
                <li><a href="/newpost">New Post</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/signup">Signup</a></li>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>
