{% extends 'base.html' %}

{% block content %}
<h1>Sparkle Me</h1>
{% for post in posts %}
<<div>
    <<img src="" alt="">
    <<p></p>
</div>
{% endfor %}

<h2>Wisdom Quotes</h2>
<div class="wp_quotepage"><div class="wp_quotepage_quote">1. You can do anything, but not everything.</div>
<div class="wp_quotepage_author">—David Allen</div></div><hr>
<div class="wp_quotepage"><div class="wp_quotepage_quote">2. Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away.</div>
<div class="wp_quotepage_author">—Antoine de Saint-Exupéry</div></div><hr>
<div class="wp_quotepage"><div class="wp_quotepage_quote">3. The richest man is not he who has the most, but he who needs the least.</div>
<div class="wp_quotepage_author">—Unknown Author</div></div><hr>
<div class="wp_quotepage"><div class="wp_quotepage_quote">4. You miss 100 percent of the shots you never take.</div>
<div class="wp_quotepage_author">—Wayne Gretzky</div></div><hr>
<div class="wp_quotepage"><div class="wp_quotepage_quote">5. Courage is not the absence of fear, but rather the judgement that something else is more important than fear.</div>
<div class="wp_quotepage_author">—Ambrose Redmoon</div></div><hr>
<div class="wp_quotepage"><div class="wp_quotepage_quote">6. You must be the change you wish to see in the world.</div>
<div class="wp_quotepage_author">—Gandhi</div></div><hr>
<div class="wp_quotepage"><div class="wp_quotepage_quote">7. When hungry, eat your rice; when tired, close your eyes. Fools may laugh at me, but wise men will know what I mean.</div>
<div class="wp_quotepage_author">—Lin-Chi</div></div><hr>
<div class="wp_quotepage"><div class="wp_quotepage_quote">8. The third-rate mind is only happy when it is thinking with the majority. The second-rate mind is only happy when it is thinking with the minority. The first-rate mind is only happy when it is thinking.</div>
<div class="wp_quotepage_author">—A. A. Milne</div></div><hr>
<div class="wp_quotepage"><div class="wp_quotepage_quote">9. To the man who only has a hammer, everything he encounters begins to look like a nail.</div>
<div class="wp_quotepage_author">—Abraham Maslow</div></div><hr>
<div class="wp_quotepage"><div class="wp_quotepage_quote">10. We are what we repeatedly do; excellence, then, is not an act but a habit.</div>
<div class="wp_quotepage_author">—Aristotle</div></div><hr>

{% endblock %}
