{% extends 'base.html' %}

{% block content %}
<h1>Sparkle Me</h1>
{% for post in posts %}
<<div>
    <<img src="" alt="">
    <<p></p>
</div>
{% endfor %}

<h2>Wisdom Quotes</h2>
<div class="wp_quotepage"><div class="wp_quotepage_quote">1. You can do anything, but not everything.</div>
<div class="wp_quotepage_author">—David Allen</div></div><hr>
<div class="wp_quotepage"><div class="wp_quotepage_quote">2. Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away.</div>
<div class="wp_quotepage_author">—Antoine de Saint-Exupéry</div></div><hr>
<div class="wp_quotepage"><div class="wp_quotepage_quote">3. The richest man is not he who has the most, but he who needs the least.</div>
<div class="wp_quotepage_author">—Unknown Author</div></div><hr>
<div class="wp_quotepage"><div class="wp_quotepage_quote">4. You miss 100 percent of the shots you never take.</div>
<div class="wp_quotepage_author">—Wayne Gretzky</div></div><hr>
<div class="wp_quotepage"><div class="wp_quotepage_quote">5. Courage is not the absence of fear, but rather the judgement that something else is more important than fear.</div>
<div class="wp_quotepage_author">—Ambrose Redmoon</div></div><hr>
<div class="wp_quotepage"><div class="wp_quotepage_quote">6. You must be the change you wish to see in the world.</div>
<div class="wp_quotepage_author">—Gandhi</div></div><hr>
<div class="wp_quotepage"><div class="wp_quotepage_quote">7. When hungry, eat your rice; when tired, close your eyes. Fools may laugh at me, but wise men will know what I mean.</div>
<div class="wp_quotepage_author">—Lin-Chi</div></div><hr>
<div class="wp_quotepage"><div class="wp_quotepage_quote">8. The third-rate mind is only happy when it is thinking with the majority. The second-rate mind is only happy when it is thinking with the minority. The first-rate mind is only happy when it is thinking.</div>
<div class="wp_quotepage_author">—A. A. Milne</div></div><hr>
<div class="wp_quotepage"><div class="wp_quotepage_quote">9. To the man who only has a hammer, everything he encounters begins to look like a nail.</div>
<div class="wp_quotepage_author">—Abraham Maslow</div></div><hr>
<div class="wp_quotepage"><div class="wp_quotepage_quote">10. We are what we repeatedly do; excellence, then, is not an act but a habit.</div>
<div class="wp_quotepage_author">—Aristotle</div></div><hr>

<meta charset="utf-8"/>
<meta name=viewport content="width=device-width, initial-scale=1">

<script src="https://code.jquery.com/jquery-2.2.3.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-md-2">
      <!-- <div class="container"> -->
        <div class="row">
            <!-- All personal info should go HERE-->
            <div class="col-xs-9"><a href="#"><img src="http://i530.photobucket.com/albums/dd349/elegantjohn/imagejpg1-2353.jpg" alt="" class="img-thumbnail"></a></div>
            <table>
               <tr>
                 <th>Posts</th>
                 <th>Favorite</th>
                 <th>Liked</th>
               </tr>
               <tr>
                 <td>JS goes here</td>
                 <td>JS goes here</td>
                 <td>JS goes here</td>
               </tr>
            </table>
            <!-- Endof All personal info-->
        </div>
      <!-- </div> -->
    </div>
    <div class="col-xs-12 col-md-10">
        <div class="row">
          <div class="col-xs-4"><img src="https://s-media-cache-ak0.pinimg.com/736x/aa/7f/d8/aa7fd85890829a5545087ad42cbcbc5a.jpg" alt="" class="img-thumbnail"class="img-thumbnail"><label for="">Sometimes you will never know the value of a moment until it becomes a memory. Dr. Seuss</label></div>
          <div class="col-xs-4"><img src="https://s-media-cache-ak0.pinimg.com/736x/02/3b/bd/023bbd927eda903e3e518507e312d860.jpg" alt="" class="img-thumbnail">
         <label for="">Be curious,<br>not judgmental. -Walt Whitman</label></div>
          <div class="col-xs-4"><img src="http://img.picturequotes.com/2/64/63604/history-is-mostly-guessing-the-rest-is-prejudice-quote-1.jpg" alt="" class="img-thumbnail"><label for="">History is mostly guessing, the rest is prejudice. ― Will Durant, The Story of Civilization</label></div>

          <div class="col-xs-4"><img src="https://s-media-cache-ak0.pinimg.com/736x/aa/7f/d8/aa7fd85890829a5545087ad42cbcbc5a.jpg" alt="" class="img-thumbnail"class="img-thumbnail"><label for="">Sometimes you will never know the value of a moment until it becomes a memory. Dr. Seuss</label></div>
          <div class="col-xs-4"><img src="https://s-media-cache-ak0.pinimg.com/736x/02/3b/bd/023bbd927eda903e3e518507e312d860.jpg" alt="" class="img-thumbnail">
         <label for="">Be curious,<br>not judgmental. -Walt Whitman</label></div>
          <div class="col-xs-4"><img src="http://img.picturequotes.com/2/64/63604/history-is-mostly-guessing-the-rest-is-prejudice-quote-1.jpg" alt="" class="img-thumbnail"><label for="">History is mostly guessing, the rest is prejudice. ― Will Durant, The Story of Civilization</label></div>

          <div class="col-xs-4"><img src="https://s-media-cache-ak0.pinimg.com/736x/aa/7f/d8/aa7fd85890829a5545087ad42cbcbc5a.jpg" alt="" class="img-thumbnail"class="img-thumbnail"><label for="">Sometimes you will never know the value of a moment until it becomes a memory. Dr. Seuss</label></div>
          <div class="col-xs-4"><img src="https://s-media-cache-ak0.pinimg.com/736x/02/3b/bd/023bbd927eda903e3e518507e312d860.jpg" alt="" class="img-thumbnail">
         <label for="">Be curious,<br>not judgmental. -Walt Whitman</label></div>
          <div class="col-xs-4"><img src="http://img.picturequotes.com/2/64/63604/history-is-mostly-guessing-the-rest-is-prejudice-quote-1.jpg" alt="" class="img-thumbnail"><label for="">History is mostly guessing, the rest is prejudice. ― Will Durant, The Story of Civilization</label></div>
        </div>
    </div>

  </div>
</div>
<div class="person_info">


</div>



{% endblock %}
