{% extends 'base.html' %}

{% block content %}


<div class="post-img">
    <img class="img-thumbnail center-block" src="http://img.picturequotes.com/2/64/63604/history-is-mostly-guessing-the-rest-is-prejudice-quote-1.jpg" alt="">
</div>
<div class="post-concept text-center">
    <label for="">History is mostly guessing, the rest is prejudice. ― Will Durant, The Story of Civilization</label><br>
    <textarea name="name" rows="8" cols="80"></textarea><br>


      <button type="button" id="comment" name="button" class="btn  btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Comment</button></div>




{% endblock %}
