{% extends 'base.html' %}

{% block content %}

<div id="container">
    <div class="left-col">
        <h1>Sparkle Me</h1>
        <div class="persenalinfo col-md-2" style="width:150px">
          <div class="row">
              <!-- All personal info should go HERE-->
              <div class="col-md-12" ><a href="#"><img src="http://i530.photobucket.com/albums/dd349/elegantjohn/imagejpg1-2353.jpg" alt="" class="img-thumbnail"></a></div>
              <div class="col-md-12 text-center">
                  <label id="username">{{ username }}</label>
              </div>
              <div class="col-md-12 text-center">
                  <button class="btn btn-primary" type="button" name="button"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Follow</button>
              </div>
              <table>
                 <tr>
                   <th>Posts</th>
                   <th>Favorite</th>
                   <th>Liked</th>
                 </tr>
                 <tr>
                   <td class="active"><a href="#"  >{{ counter }}</a></td>
                   <td class="warning"><a href="#" >JS goes here</a></td>
                   <td class="info"><a href="#">JS goes here</a></td>
                 </tr>
              </table>

              <!-- Endof All personal info-->
          </div>
        <!-- </div> -->
      </div>
    </div>
    <div class="right-col">
        <div class="container-fluid">
            <div class="row">
                <div class="newpost col-md-12">
                    <form method="post">
                        <label>
                            <div class="col-xs-6">Img URL: </div>
                            <input class="col-xs-6" type="text" name="img" value="{{img}}">
                        </label>


                        <label>
                            <div class="col-xs-6">Post:</div>
                            <textarea class="col-xs-6"name="body">{{body}}</textarea>
                        </label>

                        <div class="error">{{ error }}</div>
                        <input type="submit">
                    </form>
                </div>
                <hr/>
                {% for post in posts %}
                <div class="concept col-md-3">
                    <div class="panel panel-default">
                      <div class="panel-heading"><a href="/sparkle/{{ post.key().id() }}"><img class="img-thumbnail" src="{{ post.img }}" ></a></div>
                      <div class="panel-body">
                        <p>{{ post.body }}</p>
                        <p class="post-author"> written by
                            <a href="/sparkle/{{ post.author.username }}">{{ post.author.username }}</a>
                        </p>
                      </div>
                      <!-- """button"""  -->
                      <div id="text{{post.key().id()}}" class="row">
                        <div class="col-xs-6">
                            <button type="button" id="delete{{post.key().id()}}" onClick="reply_click(this.id)" name="button" class="btn btn-block btn-danger"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Delete</button>
                        </div>

                        <div class="col-xs-6">
                            <button type="button" id="comment{{post.key().id()}}" onClick="reply_click(this.id)" name="button" class="btn btn-block btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Comment</button>
                        </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="person_info">
<!-- <script>
        //dragable
        // $( function() {
        //         $("#comment").draggable();
        //       } );
        //get id
        function reply_click(clicked_id)
        {
            btnid = clicked_id;

            btnid_sub = btnid.substring(0, 4);
        if(btnid_sub == "like"){
            //like function
            // console.log("loooooo");


                $("#"+ btnid).attr("disabled", "disabled");


        }

        else if(btnid_sub === "comm"){
            // comment function



                // $("comment").attr("disabled", "disabled");
                $("#"+ btnid).attr("disabled", "disabled");
                var textarea_Comment = $("<textarea />").addClass("textComment");
                var divComment = $("<div/>").append(textarea_Comment).addClass("col-xs-12");
                var buttonComment = $("<button>Done</button>").addClass("btn btn-primary pull-right").click(function(evt){
                    //add comment to individul page
                    postid = btnid.substring(7);
                    cmt = $(".textComment").val();
                        cmt = Comment(
                            postid = postid,
                            cmt= cmt)
                        cmt.put()
                        buttonComment.detach();
                        textarea_Comment.detach();
                        $("#comment").removeAttr("disabled");
                });
                $("#text"+ btnid_sub).append(divComment).append(buttonComment);


        }
        else{

        }
        }
        var un = "{{username}}";

        //LogoutHandler
        if (un != ""){
            $("#login").text(un).attr("href","/sparkle/{{username}}")
        }
</script> -->

</div>


{% endblock %}
