{% extends 'base.html' %}

{% block content %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="container">
        <div class="row">
            <!-- All personal info should go HERE-->
            <div class="col-xs-9"><a href="#">person image</a></div>
            <table>
               <tr>
                 <th>Posts</th>
                 <th>Favorite</th>
                 <th>Liked</th>
               </tr>
               <tr>
                 <td>JS goes here</td>
                 <td>JS goes here</td>
                 <td>JS goes here</td>
               </tr>
            </table>
            <!-- Endof All personal info-->
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
        <div class="row">
          <div class="col-xs-4"><a href="https://s-media-cache-ak0.pinimg.com/736x/aa/7f/d8/aa7fd85890829a5545087ad42cbcbc5a.jpg"></a><label for="">Sometimes you will never know the value of a moment until it becomes a memory. Dr. Seuss</label></div>
          <div class="col-xs-4">
          <a href="https://s-media-cache-ak0.pinimg.com/736x/02/3b/bd/023bbd927eda903e3e518507e312d860.jpg"></a><label for="">Be curious,<br>not judgmental. -Walt Whitman</label></div>
          <div class="col-xs-4"><label for="">History is mostly guessing, the rest is prejudice. ― Will Durant, The Story of Civilization</label></div>
        </div>
    </div>

  </div>
</div>
<div class="person_info">


</div>


{% endblock %}
